<main class="content">
  <h1>Electron timer!</h1>
  <div class="progress-wrapper" *ngIf="maxVal">
    <div class="text" *ngIf="!isFinished">
      {{ maxVal - currentVal | number: "1.1-1" }}s
    </div>
    <div class="text" *ngIf="isFinished">ding!</div>
    <round-progress
      [current]="currentVal"
      [max]="maxVal"
      [radius]="100"
      [stroke]="25"
    ></round-progress>
  </div>

  <div class="controls-wrapper">
    <div>
      <label>Seconds</label>
      <input type="text" [(ngModel)]="max" (keydown)="reset()" />
    </div>
    <button *ngIf="currentVal <= 0" (click)="start()">Start</button>
    <button *ngIf="!isFinished" (click)="finish()">Finish</button>
  </div>
</main>
